<template id="maintemplate">
  <div id="app">
          {{message}}
  </div>

  <div class="row">
      <div class="col s12 m6">
        <div class="card blue darken-4">
          <div class="card-content white-text">
            <span class="card-title">{{text.lexicTittle}}</span>
            <p>{{text.lexicDescription}}</p>
          </div>
          <div class="card-action">
            <a href="#">{{text.go}}</a>
            <a href="#">{{text.help}}</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card blue darken-4">
          <div class="card-content white-text">
            <span class="card-title">{{text.scannerTittle}}</span>
            <p>{{text.scannerDescription}}</p>
          </div>
          <div class="card-action">
            <a href="#">{{text.go}}</a>
            <a href="#">{{text.help}}</a>
          </div>
        </div>
      </div>
</template>
